<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>CATS - Tweet collection dashboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>

	<div id="header">
		<h1><img src="{{ url_for('static', filename = 'logo.png') }}"></img>CATS: tweet collection dashboard</h1>
	</div>
	
	<div style="background-color:#FFFFFF; height:1px;">
		
	</div>
	
	<div id="content">
		<div id="sidebar">
			<label>Navigate on this page:</label><br/>
			<label><a href="collection">Tweet collection dashboard</a></label>
			<ul>
				<li>New corpus
					<ul>
						<li><a href="#filter-date">Duration</a></li>
						<li><a href="#filter-keyword">Keyword filter</a></li>
						<li><a href="#filter-location">Location filter</a></li>
						<li><a href="#filter-user">User filter</a></li>
					</ul>	
				</li>
				<li>Corpus being collected
				</li>
				<li>Available corpora
				</li>
			</ul>
			<br/>
			<label>Browse other pages:</label><br/>
			<label><a href="analysis">Tweet analysis dashboard</a></label><br/>
			<label><a href="about">About this project</a></label><br/>
			<br/>
			<label>You're logged in as: {{ user }}</label><br/>
		</div>
		
		<div id="main-content">
		    
		    <h2>New corpus</h2>

			<form action="{{ url_for('collection_dashboard_page2') }}" method="POST">
				<p>Specify the duration of the collection (at most 30 days) and choose a particular language for the tweets which will be collected:</p>
				<label id="duration">Duration</label> <a href="#">(?)<span>Number of days during which tweets should be collected, example "15"</span></a><br/>
				<input type="text" name="collection_duration" class="underlined" style="width:615px;"/><br/>
				<label id="language">Language</label><br/>
				<input type="radio" name="lang" value="en" checked> English <input type="radio" name="lang" value="fr"> French <input type="radio" name="lang" value="any"> Any language<br/><br/>
				<p>Select at most one of the following collection filters (if no filter is applied, you will collect the non-random 1% sample of tweets delivered by Twitter):</p>
				<label id="filter-date">Keyword filter</label> <a href="#">(?)<span>A list of keywords separated by a space (logical and) or a comma (logical or); example: "cat dog, elvis")</span></a><br/>
				<input type="text" name="keyword_list" class="underlined" style="width:615px;"/><br/>
				<label id="filter-location" >Location filter</label> <a href="#">(?)<span>2 longitude,latitude pairs separated by a comma, specifying a bounding box to filter tweets by; example "45.74,4.86,45.76,4.84</span></a><br/>
				<input type="text" name="bounding_box" class="underlined" style="width:615px;"/><br/>
				<label id="filter-user">User filter</label> <a href="#">(?)<span>A comma separated list of user IDs, indicating the users to return statuses for in the stream; example: "43186109,113613920"</span></a><br/>
				<input type="text" name="user_list" class="underlined" style="width:615px;"/><br/>
				<br/>
				<input type="submit" value="Collect tweets" class="button"/>
		    </form>

		    <h2>Corpus being collected</h2>
			{% if not corpus_info %}
				<p>No corpus being currently collected.</p>
			{% else %}
				{% if corpus_info[6] == 'True' %}
					<p>A corpus is being collected right now. The analysis dashboard will be updated daily at midnight with the latest tweets until the collection is over.</p>
					<p><a href="analysis">Analyze this corpus</a></p>
					<li>Collection started: {{ corpus_info[0] }}</li>
					<li>Duration: {{ corpus_info[1] }}</li>
					<li>Language: {{ corpus_info[2] }}</li>
					<li>Keyword filter: {{ corpus_info[3] }}</li>
					<li>Location filter: {{ corpus_info[4] }}</li>
					<li>User filter: {{ corpus_info[5] }}</li>
				{% else %}
					<p>No corpus being currently collected.</p>
				{% endif %}
			{% endif %}

		    <h2>Already collected corpus</h2>
			{% if not corpus_info %}
				<p>No corpus available.</p>
			{% else %}
				{% if corpus_info[6] == 'False' %}
					<p><a href="analysis">Analyze this corpus</a></p>
					<li>Collection started: {{ corpus_info[0] }}</li>
					<li>Duration: {{ corpus_info[1] }}</li>
					<li>Language: {{ corpus_info[2] }}</li>
					<li>Keyword filter: {{ corpus_info[3] }}</li>
					<li>Location filter: {{ corpus_info[4] }}</li>
					<li>User filter: {{ corpus_info[5] }}</li>
				{% endif %}
			{% endif %}
			</li>
		</div>
		
		<div class="clear"></div>
	</div>

</body>

</html>
